.top-panel{
  height: 70vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.top-panel-options{
  display: flex;
  width: 70%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
}

@media(max-width: 700px){
  .top-panel-options{
    flex-flow: column;
    justify-content: space-around;
    align-items: stretch;
  }
}
